
#splash-wrapper {
  position: relative;
  height: 320px;
  overflow: hidden;
}

#splash {
  position: absolute;
  height: 100%;
  width: 100%;
  background-position: center top;
  top: 0px;
  left: 0px;
  -webkit-background-size: auto 100%;
  background-repeat: no-repeat;
  background-image: url(../images/gold.jpg);
}

