
body{
  
}

.navbar-brand{
  padding-bottom: 0px;
  padding-top : 4px;
}

#navbar {
  margin-bottom:0px;
}

#footer { 
  padding-top:100px;
}

#logo{
  background : url(../images/scour-logo.svg) no-repeat;
  float: left;
  display: inline;
  height: 40px;
  width : 120px;
}

#logo:hover{
  padding-top:10px;
  opacity:.6;
}

#splash-wrapper {
  position: relative;
  height: 320px;
  overflow: hidden;
}

#splash {
  position: absolute;
  height: 100%;
  width: 100%;
  background-position: center top;
  top: 0px;
  left: 0px;
  -webkit-background-size: auto 100%;
  background-repeat: no-repeat;
  background-image: url(../images/splash-gold.jpg);
  background-color:#000000;
}

#splash-text {
  position:relative;
  padding-left:100px;
  color:#ededed;
}

#splash-fill {

}

input.form-control{
  margin-bottom:15px;
}

.x {
  z-index: 999;
  color: white;
  font-size: 24px;
  text-shadow: 0 1px rgba(255,255,255,0.2);
  line-height: 13px;
  padding: 3px 3px 5px 6px;
  border-radius: 20px;
  height: 18px;
  width: 18px;
  top: -12px;
  left: -15px;
  cursor: pointer;
  border-width: 1px 0;
  border-style: solid;
  border-color: #353535 #000 #080909;
  background: #3e4142;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#5e6263), to(#3e4142));
  background: -webkit-linear-gradient(#5e6263, #3e4142);
  background: -moz-linear-gradient(#5e6263, #3e4142);
  background: -o-linear-gradient(#5e6263, #3e4142);
  background: linear-gradient(#5e6263, #3e4142);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5e6263', endColorstr='#ff3e4142', GradientType=0);
  -webkit-box-shadow: inset 0 0 1px 1px rgba(255,255,255,0.12),inset 0 1px 1px 0 rgba(255,255,255,0.12),1px 1px 4px rgba(0,0,0,0.5);
  box-shadow: inset 0 0 1px 1px rgba(255,255,255,0.12),inset 0 1px 1px 0 rgba(255,255,255,0.12),1px 1px 4px rgba(0,0,0,0.5);
}