
body{
  
}

.navbar-brand{
  padding-bottom: 0px;
  padding-top : 4px;
}

#navbar {
  margin-bottom:0px;
}

#footer { 
  padding-top: 60px;
}

#logo{
  background : url(/images/scour-logo.svg) no-repeat;
  float: left;
  display: inline;
  height: 40px;
  width : 120px;
}

#logo:hover{
  padding-top:10px;
  opacity:.6;
}

#splash-wrapper {
  position: relative;
  height: 320px;
  overflow: hidden;
}

#splash {
  position: absolute;
  height: 100%;
  width: 100%;
  background-position: center top;
  top: 0px;
  left: 0px;
  -webkit-background-size: auto 100%;
  background-repeat: no-repeat;
  background-image: url(/images/splash-gold.jpg);
  background-color:#000000;
}

#splash-text {
  position:relative;
  padding-left:100px;
  color:#ededed;
}

#welcome-splash-wrapper {
  position: relative;
  height: 330px;
  overflow: hidden;
}

#welcome-splash {
  position: absolute;
  height: 100%;
  width: 100%;
  background-position: center top;
  top: 0px;
  left: 0px;
  -webkit-background-size: auto 100%;
  background-repeat: no-repeat;
  background-image: url(/images/splash-binoculars.jpg);
  background-color:#000000;
}

#signup-login-container{
  padding-top: 40px;
}


input.form-control{
  margin-bottom:15px;
}
