<div id="splash-wrapper" class="jumbotron">
  <div class="container">
    <div id="splash"></div>
    <div id="splash-text" class="hero">
      <h1>Real-life treasure hunts</h1>
      <p>Want to know how it works?</p>
      <p>
        <a class="btn btn-primary" role="button" href="#welcome">Learn more &raquo;</a>
      </p>
    </div>
  </div>
</div>
